.wHeader {
    // background-image: url("../../../assets/images/backgroundImages/galaxy.png");
    background: no-repeat;
    background-size: cover;
    object-fit: fill;
    // .header-basic{

    // }
    // background: url("../../../assets/images/backgroundImages/galaxy.png")!important,
}
