.wVideo {
    // background-color: rgb(134, 218, 218);
    &.video-basic{
        position: relative;
        display: flex;
        height: 450px;
        justify-content: center;
        .video-information-container{
            width: 640px;
            height: 360px;
        }

        .video-container{
            position: absolute;
            // right: 640px;
            left: 20%;
            top: 100px;
        }
    }
}